*{
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
[class*="col-"]{
    float: left;
}
.row::after{
    padding-bottom: 10px;
    content: " ";
    clear: both;
    display: table;
}
.main{
    max-width: 1000px;
    margin: auto;
}
.col-1{
    width:29.33%;
}
.col-2{
    width:70.66%;
}

.col-2-1{
    text-align: right;
}
.blue{
    color: whitesmoke;
}
.fnt{
    font-size: 1.75rem;
    font-weight: bolder;
    color:rgb(12, 81, 12);
}
.row  .main  .col-2.col-2-1  a{
    font-size: 1.2rem;
    font-weight: bolder;
    color: wheat;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
}
.row  .main  .col-2.col-2-1  a:hover{
    background-color: aquamarine;
    color: black;
}
.row .main .col-2.col-2-1 a:active{
    background-color: black;
}
.bar{
    background-color: black;
}
.col-3{
    width: 50%;
}
.bg-color{
    background-color: #fef8f5;
    border-top: 1px solid rgb(236, 230, 230);
    border-bottom: 1px solid rgb(233, 229, 229);
}
.row.bg-color  .main  .col-3  h1{
    font-size: 2.9rem;
    font-weight: bolder;
}
.row.bg-color  .main  .col-3 p{
    font-size: 1.0rem;
    font-weight: bolder;
    color: #a09b99;
}
.row.bg-color  .main  .col-3  img {
	max-width: 100%;
	height: auto;
}
.row.bg-color  .main  .col-3  a{
    font-size: 1.3rem;
    font-weight: bolder;
    background-color: #eb5d1e;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
}
.row.bg-color .main .col-3 a:hover{
    background-color: aquamarine;
    color :black;
}
.row.bg-color .main .col-3 a:active{
    background-color: yellow; 
}
.row.bg1 .main .center{
    text-align: center;
    padding-top: 10px;
}
.row.bg1 .main .center h1, .row.bg1 .main .center h3{
    color:wheat;
    background-color: black;
}
.footer{
    padding: 15px;
    background-color: #0099cc;
    color: #ffffff;
    text-align:center;
    font-size: 0.8rem;
}
.column1 {
    float:left;
    width: 25%;
 }
 .content1 {
    background-color :black;
    padding:10px;
 }
 div.sticky {
    position: sticky;
    position: sticky;
    top: 0;
    padding: 5px;
}
.content2 {
    padding:10px;
    font-size: 5px;
    color: black;
}

